{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('web.static', filename='css/chat.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script defer src="{{ url_for('web.static', filename='js/chat.js') }}"></script>

<div class="chat-page">
    <div class="sidebar">
        <div class="sidebar-header">
            <h2>Chatbot Kesehatan Mental</h2>
            <button id="new-chat-btn">+ Obrolan Baru</button>
        </div>
        <div class="conversation-list" id="conversation-list"></div>
        <div class="user-profile">
            <span class="material-icons profile-icon">person</span>
            <div class="user-info">
                <p id="user-name"></p>
                <p id="user-email"></p>
            </div>
            <button id="logout-btn" class="material-icons" title="Logout">logout</button>
        </div>
    </div>

    <div class="chat-area">
        <div id="chat-window" class="chat-window">
            {% for msg in messages %}
                {% if msg.user_input %}
                <div class="chat-message user">
                    <div class="message">{{ msg.user_input }}</div>
                </div>
                {% endif %}
                <div class="chat-message bot">
                    <div class="message">{{ msg.bot_response }}</div>
                </div>
            {% endfor %}
        </div>

        <form id="chat-form" autocomplete="off">
            <input type="text" id="message-input" placeholder="Tulis pesan Anda..." required>
            <button type="submit">Kirim</button>
        </form>
    </div>
    <button id="toggle-aspect-sidebar-btn" class="toggle-aspect-sidebar-btn">⮞</button>
    <div class="aspect-sidebar" id="aspect-sidebar">
        <h3>Progres Percakapan</h3>
        <div id="total_progress">
            <div id="total_progress-bar">
            </div>
            <h5 id="total_progress-information"></h5>
        </div>  
        <div id="aspect-list"></div>
    </div>

</div>
{% endblock %}
