accelerate==1.9.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
alembic==1.14.1
aniso8601==9.0.1
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.8.1
attrs==25.3.0
bcrypt==4.1.2
bitsandbytes==0.46.1
blinker==1.7.0
build==1.1.1
CacheControl==0.14.0
certifi==2025.8.3
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.1
crashtest==0.4.1
cryptography==42.0.5
cycler==0.12.1
datasets==4.0.0
dill==0.3.8
distlib==0.3.8
distro==1.9.0
Django==5.1.6
django-cors-headers==4.7.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
dulwich==0.21.7
ecdsa==0.18.0
environs==14.1.1
et_xmlfile==2.0.0
faiss-cpu==1.13.0
fastapi==0.110.0
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.2
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.7.1
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
fonttools==4.55.3
frozenlist==1.7.0
fsspec==2025.3.0
git-filter-repo==2.47.0
googletrans==4.0.0rc1
greenlet==3.0.3
h11==0.16.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==1.0.9
httptools==0.6.1
httpx==0.28.1
huggingface-hub==0.29.3
hyperframe==5.2.0
idna==2.10
installer==0.7.0
itsdangerous==2.1.2
jaraco.classes==3.3.1
Jinja2==3.1.3
jiter==0.12.0
joblib==1.5.2
keyring==24.3.1
kiwisolver==1.4.7
Mako==1.3.9
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.0
-e git+https://github.com/ivanosky144/raft-ugm-mental-health-chatbot.git@e2506c5cf02f0ee84b53568e491b63e47c5ebe25#egg=mental_health_chatbot
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.6.3
multiprocess==0.70.16
networkx==3.4.2
numpy==2.2.0
openai==2.8.1
openpyxl==3.1.5
packaging==24.0
pandas==2.2.3
passlib==1.7.4
pdf2image==1.17.0
peft==0.16.0
pexpect==4.9.0
pillow==11.0.0
pkginfo==1.10.0
platformdirs==4.2.0
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.7.1
propcache==0.3.2
psutil==7.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pyarrow==21.0.0
pyasn1==0.5.1
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
pymongo==4.13.2
pyparsing==3.2.0
pyproject_hooks==1.0.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
rapidfuzz==3.6.2
regex==2024.11.6
requests==2.32.4
requests-toolbelt==1.0.0
rfc3986==1.5.0
rsa==4.9
safetensors==0.5.3
scikit-learn==1.7.2
scipy==1.14.1
seaborn==0.13.2
sentence-transformers==5.1.2
setuptools==78.1.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.27
sqlparse==0.5.3
starlette==0.36.3
sympy==1.13.3
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.21.1
tomlkit==0.12.4
torch==2.7.1+cpu
tqdm==4.66.4
transformers==4.50.3
trove-classifiers==2024.3.3
typing_extensions==4.15.0
tzdata==2024.2
urllib3==2.2.1
uvicorn==0.27.1
virtualenv==20.25.1
watchfiles==0.21.0
watchgod==0.8.2
websockets==12.0
Werkzeug==3.0.1
xxhash==3.5.0
yarl==1.20.1
